# catch2 introduces some bad macros. For the test folder lets remove the following warnings:

Checks: |
  -ppcoreguidelines-avoid-non-const-global-variables.GlobList
  -misc-use-internal-linkage.GlobList,
  -misc-include-cleaner.GlobList,
  -misc-use-anonymous-namespace,
  -bugprone-chained-comparison,
  -cppcoreguidelines-avoid-do-while,
  -readability-function-cognitive-complexity
  
InheritParentConfig: true


